{% extends "layout/base_form.html" %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Список групп</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Группа</th>
                <th>Факультет</th>
                <th>Куратор</th>
                <th>Подробнее</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.faculty }}</td>
                <td>{{ group.curator }}</td>
                <td>
                    <a href="{% url 'group_detail' group.id %}" style="text-decoration: none; color: blue;">
                        🔍 Открыть
                    </a>

                </td>
            </tr>
            {% empty %}
                <tr>
                <   td colspan="4">Группы не найдены</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}